<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Axios dans Vue.js</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <div class="vignette">
            <h1>Index des prix du Bitcoin</h1>
            <section v-if="errored">
                <p>Nous sommes désolés, nous ne sommes pas en mesure de récupérer ces informations pour le moment.
                    Veuillez réessayer ultérieurement. </p>
            </section>
            <section v-else>
                <div v-if="loading">Chargement...</div>
                <div v-else v-for="currency in info" class="monnaie"> {{ currency.description }} : <span
                        class="valeur">{{
                        currency.rate_float | currencydecimal }} <span v-html="currency.symbol"></span></span> </div>
            </section>
        </div>
    </div>
    <script src="./script.js"></script>
</body>

</html>