<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <title>La directive v-if</title>
</head>
<body>
    <div id="app">
        <h1>Directivres v-if - v-else-if - v-else</h1>
        <!-- 1er exemple -->
        <div class="jumbotron">
            <h3>Choisissez la &lt;div&gt; à afficher</h3>
            <input type="radio" value="premier" v-model="checkedNames">
            <label>Première</label>
            |
            <input type="radio" value="deuxieme" v-model="checkedNames">
            <label>Deuxième</label>
            |
            <input type="radio" value="troisieme" v-model="checkedNames">
            <label>Troisième</label>

            <div v-if="checkedNames == 'premier'">Je m'affiche si premier est séléctionné</div>
            <div v-else-if="checkedNames == 'deuxieme'">Je m'affiche si deuxieme est séléctionné</div>
            <div v-else-if="checkedNames == 'troisieme'">Je m'affiche si troisieme est séléctionné</div>
            <div v-else>Je m'affiche si vous n'avez rien séléctionné</div>
        </div>
        <!-- 2eme exemple -->
        <div class="jumbotron">
            <h3>Quel genre êtes-vous?</h3>
            <select id="gender" v-model:selected='gender'>
                <option value="Mr">Mr</option>
                <option value="Mme">Mme</option>
            </select>
            <img src="img/Mr.png" v-if="gender=='Mr'"/>
            <img src="img/mme.png" v-else-if="gender=='Mme'"/>
            <img src="img/unknown.jpg" v-else />
        </div>
        <!-- 3eme Exemple avec la récupération des composants -->
        <!-- Vue réutilise au maximum les élémentq afin de limiter les modification (et donc les rechargement) -->
        <!-- Notes l'emploi d'un template afin d'applicquer la directive v-if à plusieurs éléments -->
        <div class="jumbotron">
            <h3>Réutilisation des composants</h3>
            <template v-if="loginName">
                <label>Nom utilisateur</label>
                <input type="text" placeholder="Entez votre nom d'utilisateur">
            </template>
            <template v-else>
                <label>Email</label>
                <input type="text" placeholder="Entez votre adresse email">
            </template>
            <button @click="changeConnectionType">Changer de méthode de connection</button>
        </div>
        <!-- 4eme Exemple bloquer la récupération des composants -->
        <!-- pour forcer Vur.js recharger un element, il faut ajouter la clé (key) -->
        <!-- Grace à la clé il sait que l'input est pour un type bien particulier et en recharge un autre -->
        <div class="jumbotron">
            <h3>Réutilisation des composants</h3>
            <template v-if="loginName">
                <label>Nom utilisateur</label>
                <input type="text" placeholder="Entez votre nom d'utilisateur" key="username-input">
            </template>
            <template v-else>
                <label>Email</label>
                <input type="text" placeholder="Entez votre adresse email" key="email-input">
            </template>
            <button @click="changeConnectionType">Changer de méthode de connection</button>
        </div>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            name:'vif-Velse-if-Velse',
            data:{
                // 1er exemple
                checkedNames:[],
                // 2eme exemple
                gender:'',
                // 3eme exemple
                loginName:true
            },
            methods:{
                changeConnectionType(){
                    this.loginName = !this.loginName
                }
            }
        })
    </script>
</body>
</html>